<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="<%= script %>" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./styles/style.css">
    <title>Disco</title>
</head>
<body>

    <nav>
        <div class="logo">
            <h1>DISCO</h1>
        </div>
        <div class="navbar">
            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">EVENTS</a></li>
                <li><a href="#">CONTACTS</a></li>
                <li><a href="#" class="tavoli">TABLES</a></li>
            </ul>
        </div>
        <div class="social">
            <ul>
                <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
            </ul>
        </div>
    </nav>

    <main class="intro">
        <div class="glass">
            <h1>Disco</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime ad quaerat ipsa rerum iste earum qui ab magnam, eius veniam sapiente doloribus veritatis repellat dolor quod, omnis sint. Impedit, non!</p>
            <button><a href="">TABLES</a></button>
        </div>

    </main>
    
</body>
</html>