<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <title>Disco</title>
</head>
<body>

    <nav>
        <div class="logo">
            <h1>DISCO</h1>
        </div>
        <div class="navbar">
            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">Eventi</a></li>
                <li><a href="#">Contatti</a></li>
                <li><a href="#" class="tavoli">Tavoli</a></li>
            </ul>
        </div>
        <div class="social">

        </div>
    </nav>
    
</body>
</html>